.about {
  &__title {
    @extend %t-poppins-32-medium;

    margin: 0 0 32px;

    letter-spacing: $spacing;

    color: $color-white;

    text-align: left;

    @include onTablet {
      font-size: 48px;
    }

    @include onDesktop {
      font-size: 64px;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 23px;
    line-height: 32px;

    color: $color-white;

    @include onTablet {
      display: grid;
    }
  }
}
