.card {
  display: block;

  grid-row: 1;

  max-width: 324px;
  margin: 0 auto 24px;
  padding: 10px;

  gap: 24px;

  border: 1px solid transparent;
  border-radius: 10px;
  background-color: $color-dark-black;
  box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);

  transition-duration: 0.3s;

  &:hover {
    transform: scale(1.1);
  }

  @include onTablet {
    display: block;
  }

  &__images {
    margin-bottom: 32px;
    width: 100%;
  }

  &__title {
    @extend %t-poppins-24-bold;

    margin: 0 auto 8px;
  }

  &__text {
    @extend %t-poppins-16-normal;

    margin-bottom: 16px;
  }
}

.grid__cards {
  display: block;

  @include onDesktop {
    display: grid;
  }
}
