.menu {
  width: 100%;

  background-color: #c2c2c2;

  &__container {
    height: 100vh;
    padding: 29px 20px 20px;

    @include onTablet {
      padding: 34px 72px 20px;
    }

    @include onDesktop {
      padding: 36px 128px 20px;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 44px;
  }

  &__exit {
    background-image: url(../images/photos/exit.svg);
  }

  &__list {
    margin: 0 0 40px;
    padding: 0;

    list-style: none;
  }

  &__item {
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;

    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    transition-duration: 0.3s;

    color: #1d1d1d;
    transition: 0.3s;

    @include onDesktop {
      font-weight: 700;
    }

      @include link-after-hover($color-black)
  }

  &__phone-number {
    display: block;
    width: max-content;
    margin-bottom: 16px;

    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    color: #1d1d1d;

    text-transform: uppercase;
    text-decoration: none;

    @include onDesktop {
      font-weight: 700;
    }

    @include link-after-hover($color-black)
  }

  &__click {
    display: inline-block;
    padding: 0 0 8px;

    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;

    color: #1d1d1d;

    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid #1d1d1d;

    @include onDesktop {
      font-weight: 700;
    }
  }
}
