@mixin onDesktop {
  @media (min-width: 1260px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: 744px) {
    @content;
  }
}

@mixin link-after-hover ($color) {
  position: relative;

  &::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;

    content: "";
    display: block;
    height: 1px;
    border-radius: 8px;

    background-color: #{$color};
    transform: scale(0);

    transition: scale, 0.3s;
    pointer-events: none;
  }

  &:hover::after {
    transform: scale(1);
  }
}
